{% extends "base.html" %}

{% block head %}
<title>TODO HOME</title>
{% endblock %}

{% block body %}
<div class="p-4 space-y-10">
	<form class="space-y-5" hx-post="{{create_todo_url}}" hx-target="#table_body" hx-swap="beforeend">
		<h1 class="text-3xl font-bold">Add todo</h1>
		<div class="mb-5">
			<label for="name" class="block mb-2 text-sm font-medium text-white">Task Name</label>
			<input type="text" id="name" name="name"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				placeholder="eg. Go to work..." required />
		</div>
		<button type="submit"
			class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add</button>
	</form>
	<div class="relative overflow-x-auto shadow-md sm:rounded-lg space-y-5">
		<h1 class="text-3xl font-bold">Your todos</h1>
		{% include "table/table.html" %}
	</div>
</div>
<script>
	function show(id, update_todo_url, value, status) {
		const dialog = document.querySelector(`#dialog`);
		const input = document.querySelector(`#dialog-input`);
		const option = document.querySelector(`option[value="${status}"]`);
		const btn = document.querySelector(`#dialog-btn`);
		option.selected = true;
		input.value = value;
		btn.onclick = () => submit(id, update_todo_url);
		dialog.showModal();
	}

	function submit(id, update_todo_url) {
		const dialog = document.querySelector(`#dialog`);
		const values = htmx.values(htmx.find("#dialog-form"));
		htmx.ajax('PUT', update_todo_url, {target: `#row-${id}`, swap: 'outerHTML', values});
		setTimeout(() => dialog.close(), 0);
	}
</script>
{% endblock %}
