<dialog id="dialog" class="h-screen w-full backdrop:bg-black/30 bg-transparent">
	<div class="h-full bg-transparent w-full rounded-lg shadow w-[30rem] p-4 flex items-center justify-center">
		<div class="bg-white border-2 border-gray-700 space-y-8 p-4 w-[30rem]" >
		  <h1>Edit</h1>
		  <form method="dialog" id="dialog-form"  class="p-4 space-y-4">
		    <input id="dialog-input" type="text" name="name"
			   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
			   placeholder="eg. Go to work..." required />
		    <select name="status" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
		      <option value="Todo">Todo</option>
		      <option value="Done">Done</option>
		    </select>
		    <button
			    id="dialog-btn"
			class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Done</button>
		  </form>
		</div>
	</div>
</dialog>
