<tr id="row-{{id}}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
	    {{ id }}
    </th>
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
	    {{ name }}
    </th>
    <td class="px-6 py-4">
	    {{ status }}
    </td>
    <td class="flex items-center px-6 py-4">
        <button onclick="show('{{id}}', '{{update_todo_url}}', '{{name}}', '{{status}}')" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
        <button hx-delete="{{delete_todo_url}}" hx-target="#row-{{id}}" hx-swap="outerHTML" class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">Remove</button>
    </td>
</tr>

